body{
    font-family: 'Courier New', Courier, monospace;
    color: #D2D0A0;
    background-color: #537D5D;
}
p{
    width: 60%;
}

hr{
    width: 20%;
    color: rgb(13,76,55);
    width: 80%;
}    

#carrossel1-Slides{
    width: 80%;
}
#carrossel2-Slides{
    width: 80%;
}
#carrossel3-Slides{
    width: 80%;
}
#carrossel4-Slides{
    width: 80%;
}
hr{
    width: 20%;
    color: rgb(13, 76, 55);
}
body{
    background-color: rgb(46, 99, 35);
}